
.auth-modal-fade-enter {
  opacity: 0;
  .modalContent {
    transform: translateY(-50px);
  }
}

.auth-modal-fade-enter-active {
  opacity: 1;
  .modalContent {
    transform: translateY(0);
  }
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.auth-modal-fade-exit {
  opacity: 1;
  .modalContent {
    transform: translateY(0);
  }
}

.auth-modal-fade-exit-active {
  opacity: 0;
  .modalContent {
    transform: translateY(-50px);
  }
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}