@import "tailwindcss";

:root {
  --background: #060b15;
  --foreground: #ededed;
  --text-color: #9dabbd;
  --Text-Color-TextBodyGray0000: #fff;
  --Text-Color-TextTitleGray000: #fff;
  --Text-Color-TextBodyGray300: #9dabbd;
  --Text-Color-TextSubtitleGray400: #7f8d9f;
  --Text-Color-TextPrimary300: #b282fc;
  --Text-Color-TextPrimary500: #7d2efa;
  --green-color: #80bd29;
  --Secondary500: #de4a7e;
  --TextBodyGray300: ‌ rgba(157, 171, 189, 1);
  --Gray100: #F1F5F9;
  --Gray200: #bdc8d6;
  --Gray500: #616f81;
  --Gray600: #4D5B6D;
  --Gray700: #475566;
  --Gray800: #222d3b;
  --Gray900: #121925;
  --Gray950: #060b15;

  --BgPrimary500: rgba(125, 46, 250, 1);
  --header-height: 72px;

  --white: #ffffff;
  --Blood500: #ed4438;
  --Sun500: #f8a605;
  --Yellow500: #f9e637;
  --Green500: #9fe53b;
  --Green600: #5aaf0b;
  --Green400: #00cc8f;
  --Lake500: #00becc;
  --Lake400: #4ac4fc;
  --Sky500: #4a81fc;
  --Sky600: #1c59e2;
  --Primary500: #7d2efa;
  --Pink500: #e22efa;
  --Background-Color-BgBlood800: #2f0e0b;
  --Background-Color-BgBadgeSun900: #322101;
  --Background-Color-BgBadgeGrass800: #1a2608;

  --sds-size-space-0: 0;
  --sds-size-space-50: 2px;
  --sds-size-space-100: 4px;
  --sds-size-space-150: 6px;
  --sds-size-space-200: 8px;
  --sds-size-space-300: 12px;
  --sds-size-space-400: 16px;
  --sds-size-space-600: 24px;
  --sds-size-space-800: 32px;
  --sds-size-space-1200: 48px;
  --sds-size-space-1600: 64px;
  --sds-size-space-2400: 96px;
  --sds-size-space-4000: 160px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060b15;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scan {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.animate-scan {
  animation: scan 3s ease-in-out infinite;
}

.btn {
  cursor: pointer;
}
