.profilePage {
  width: 100vw;

  display: inline-flex;
  padding: 40px 0 48px 0;
  justify-content: center;
}
.profileContainer {
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 64px;
  padding: 24px;
}

.MenuContainer {
  width: 261px;
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-300);
}

.menuItem {
  height: 44px;
  border-radius: 8px;
  padding: 6px 14px;
  display: flex;
  line-height: normal;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: all 0.5s;
  * {
    transition: all 0.5s;
  }
  &:hover {
    background-color: var(--Gray900);
  }

  img {
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: var(--Gray200);
  }
}

.active {
  background-color: var(--Gray900);
  p {
    color: white;
  }
}

.viewWrapper {
  flex-grow: 1;
}

.rowDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  * {
    line-height: normal;
  }
  height: 44px;
  gap: 8px;
}

.titleDesc {
  display: flex;
  flex-direction: column;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  flex-grow: 1;
  gap: 12px;
  line-height: normal;
  .titleWrapper {
    line-height: normal;
    gap: 8px;
    display: flex;
    flex-direction: row;
    h3 {
      line-height: normal;
      font-size: 16px;
      font-weight: 600;
      color: white;
    }
  }
  p {
    font-size: 12px;
    font-weight: 400;
    color: var(--Text-Color-TextBodyGray300);
  }
  font-size: 14px;
}

.viewContainer {
  display: flex;
  flex-direction: column;
}

.border {
  width: 100%;
  margin: var(--sds-size-space-600) 0;
  background-color: var(--Gray700);
  height: 1px;
}

.verifiedBadge {
  color: var(--green-color);
  border-radius: 6px;
  background: var(--Background-Color-BgBadgeGrass800, #1a2608);
  padding: 0 6px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileEditModal {
  width: 100%;
  .header {
    padding: 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--Border-Color-BorderGray800, #222d3b);
    h3 {
      font-size: 16px;
      font-weight: 600;
      font-size: normal;
      line-height: normal;
    }
    .closeBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }
  }
  .content {
    padding: 24px;
  }
}

.editContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .uploadedActions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var(--sds-size-space-300);
  }
}

.verifyEmailContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  line-height: normal;
  font-style: normal;
  p {
    font-size: 14px;
    font-weight: 600;
    color: var(--Text-Color-TextSubtitleGray400);
  }
  .email {
    color: white;
    font-size: 16px;
    font-weight: 600;
    leading-trim: both;
    text-edge: cap;
  }
  .wrongEmail {
    color: var(--Primary500);
    font-size: 12px;
    line-height: normal;
    font-style: normal;
    font-weight: 500;
  }
}

.codeInputContainer {
  width: 100%;
  .inputWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
  }
  display: flex;
  justify-content: space-between;

  background-color: var(--Gray950);

  border-radius: 300px !important;

  padding: 6px 0px;

  > input {
    font-size: 14px;
    font-weight: 400;
  }
  > input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Gray500);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
}

.codeInput {
  width: 48px;
  border-radius: 300px !important;
  height: 48px;
  flex-grow: 1;

  background-color: var(--Gray950);

  border: 1px solid var(--Border-Color-BorderDefaultGray700);
  border-radius: var(--sds-size-space-100);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  color: var(--Gray500);
  caret-color: var(--Primary500);

  &:focus {
    outline: none;
    border-color: var(--Primary500);
  }
}

.rightBorder {
  height: 12px;
  background-color: var(--Gray800);
  width: 1px;
}

.inputLabel {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: (--Text-Color-TextSubtitleGray400);
}

.emailFormTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.didNotGetCode {
  font-size: 12px;
  font-weight: 500;
  color: red;
}

.qrImg {
  border-radius: 10px;
}

.qrContent {
  font-size: 14px;
  font-weight: 600;
  color: var(--Text-Color-TextTitleGray000);
}

.info {
  list-style: disc;
  padding: 0 24px;
  color: var(--Text-Color-TextSubtitleGray400);
  li {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }
}
