.subscriptionForm {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 24rem;
  background: var(--Gray950);
  border-radius: 8px;
  padding: 16px 13px;
}

.subscriptionInput {
  flex-grow: 1;
  background: transparent;
  color: #d1d5db;
  border: none;
  outline: none;
  font-size: 14px;
  &::placeholder {
    color: var(--Gray500);
    font-weight: 700;
    font-size: 14px;
  }
}

.subscriptionButton {
  flex-shrink: 0;
  background: transparent;
  border: none;
  border-radius: 9999px;

  transition: background 0.2s;
  cursor: pointer;
  outline: none;
  &:hover {
    background: #374151;
  }
  &:focus {
    box-shadow: 0 0 0 2px #a78bfa, 0 0 0 4px #2d3748;
  }
}


.sectionList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--TextBodyGray300);
  font-size: 14px;
}