.chips {
  display: flex;
  gap: 12px;

  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;

  @media (max-width: 1330px) {
    width: 520px;

    background: linear-gradient(to left, var(--Gray950), rgba(255, 0, 0, 0))
        no-repeat right center / 70px 100%,
      rgba(21, 255, 99, 0);
  }
}

.chip {
  padding: 6px 12px;
  background: transparent;
  color: var(--text-color);
  text-overflow: clip;
  display: flex;
  flex-direction: row;
  border-radius: 40px;
  font-weight: 600;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--Gray800);
  padding-right: 24px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.chip:hover {
  background: var(--Gray950);
  color: white;
}

.chip.active {
  border-color: #a259ff;
  color: white;
  background: transparent;
  background-image: linear-gradient(var(--Gray950), var(--Gray950)),
    linear-gradient(180deg, #ffffff4d, #ffffff00);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.08);
}

.chipIcon {
  margin-right: 4px;
}
